html {
    /* background-color: #877fa82c; */
    font-family: 'Geneva', Tahoma, Helvetica, Verdana, Arial, sans-serif;
}

p {
    margin: 10px;
}

a {
    text-decoration: none;
}

.hello {
    text-align: left;
    background-image: linear-gradient(#F59193, #f5bbbc);
    position: relative;
    bottom: 32px;
    margin-bottom: -32px;
    padding: 16px 0px 16px 16px;
    border-radius: 0 0 1em 1em;
    color: white;
    text-shadow: 2px 2px 4px #0000003d;
}

/* .dashboardcontent {
    background: #f5bbbc;
    border-radius: 1em 1em 0 0;
} */

.dashboardcol {
    float: left;
    padding: 20px;
    box-sizing: border-box; 
    text-align: left;
}

.leftcol {
    width: 65%;
    padding-left: 25px;
}

.rightcol {
    width: 35%;
}

h3 {
    margin-top: 15px;
    margin-bottom: 20px;
}

h4 {
    text-align: center;
    margin-bottom: 20px;
}

.roundedbox {
    border: 1px #cccccc solid;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 2px 2px 4px #0000003d;
    text-align: left;
}

.notification {
    display: block;
    text-decoration: none;
    color: black;
    width: 88%;
    max-height: 20%;
    margin-bottom: 1em;
    padding-left: 20px;
    /* padding-right: 20px; */
}

.pink {
    color: #d64161;
}

.notifcation span {
    font-size: 15px;
}

.notification .replycontent {
    font-size: 12px;
    margin-left: 1em;
    margin-right: 0px;
    color: gray;
    max-height: 2.8em;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    word-wrap: break-word;
    overflow: hidden;
    -webkit-box-orient: vertical;
}

.notification .timeago {
    font-size: 10px;
    margin: 0px;
}

.notifcontainer {
    display: block;
    overflow-y: auto;
    max-height: 450px;
}

.remindercontainer {
    display: block;
    text-align: left;
    margin: 0px 0px 25px 0px;
    max-width: 95%;
    min-height: 130px;
    overflow-y: auto;
    white-space: nowrap;
}

.reminder {
    display: inline-block;
    white-space: normal;
    vertical-align: middle;
    margin-right: 1vw;
    width: 15vw;
    height: 100px;
}

.reminder span {
    font-family: 'Times New Roman', 'Geneva', Tahoma, Helvetica, Verdana, Arial, sans-serif;
    color: #d64161;
}

.reminder .number {
    font-size: 3.5rem;
    margin-left: 20px;
}

.reminder p {
    font-size: 11px;
    margin: 0px 0px 0px 10px;
}

#todaysdate {
    font-size: 14px;
    position: relative;
    bottom: 10px;
    left: -10px;
}

.dayroutine, .nightroutine {
    float: left;
    width: 45%;
    box-sizing: border-box; 
    height: 40vh;
    overflow-y: auto;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position: bottom; */
}

.dayroutine {
    margin-right: 5%;
    background-image: url('../dayroutine.jpg');
    background-position: bottom;
}

.nightroutine {
    background-image: url('../nightroutine2.jpg');
    background-position: center;
}

.checklist {
    text-align: left;
    margin-bottom: 20px;
}

.checklist label {
    display: inline-block;
    width: 87%;
    vertical-align: middle;
    margin-left: 3%;
}

.checkbox-round {
    width: 2em;
    height: 2em;
    background-color: white;
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid #ddd;
    -webkit-appearance: none;
    outline: none;
}

.checkbox-round:checked {
    background-color: #F59193;
}