/* global */

*{
    box-sizing: border-box;
}

html{
    font-size: 14px;
    /* font-family: Tahoma, Helvetica, Verdana, Arial, sans-serif; */
    font-family: 'Geneva', Tahoma, Helvetica, Verdana, Arial, sans-serif;
    background-color: #ffe6e6;
    color: black;
}

a{
    color:darkred;
    font-weight: bolder;
    text-decoration: none;
}

h1{
    font-size: 16px;
    font-weight: bolder;
}

/* home.html */
.container{
   margin: 20px; 
   padding: 20px;
}

.subforum{
    margin-top: 20px;
}

.subforum-title{
    background-color: #877FA8 ;
    padding: 5px;
    border-radius: 5px;
    margin: 4px;
}

.subforum-row{
    display: grid;
    grid-template-columns: 7% 60% 13% 20%;
}

.subforum-column{
    padding: 10px;
    margin: 4px;
    border-radius: 5px;
    background-color: darksalmon;

}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.subforum-icon{
    font-size: 35px;
}

/*Navbar*/
header{
    height: 10vh;
    background-size: cover;
    background-position: center;

}

ul{
    float: right;
    list-style-type: none;
    margin-top: 32px;
    margin-right: 12px;
    font-size: 16px;
}

ul li{
    display: inline-block;
}

ul li a{
    text-decoration: none;
    color: #c83349;
    padding: 5px 20px;
    border: 1px solid transparent;
    transition: 0.6s ease;
    font-weight: 400;
}

ul li a:hover{
    background-color:#fff;
    color:#d64161;
}

.logo img{
    float:left;
    width: 100px;
    height: auto;
}

/*search box*/
.search-box{
    border: solid 1px #f59193;
    margin-top: 30px;
    padding: 40px;
    display:flex;
    justify-content: center;
    box-shadow: 1px 2px 3px #f59193;
}

.search-box select{
    padding: 10px;
}

.search-box input{
    padding:10px;
}

.search-box button{
    padding: 10px;
    background-color: thistle;
    color: #D47E97;
}

.search-box button.hover{
    background-color: white;
    color: #c83349;
    box-shadow: 1px 2px 3px #c83349;
}

.divider{
    width:5px;
    height:auto;
    display:inline-block;
}


/* Forum info*/
forum-info{
    padding: 20px;
    background-color: black;
}

.chart{
    font-size: 20px;
    font-weight: bold;
}

/* Flash Message */
.flashes {
    font-weight: bold;
    position: relative;
    color: #c83349;
}

/*reply*/
.thread_display{
    border: solid;
    border-color: #fffff0;
    background: #fffff0;
    padding: 15px;
}
.thread_display .thread_info{
    opacity: 0.7;
    font-size: small;
    line-height: 0.8px;
}

.thread_display h1{
    font-size: 25px;
}

.thread_content{
    font-size: 15px;
}

.container .thread_display .comment_btn{
    padding: 0;
    border: none;
    background: none;
    font-size: larger;
    cursor: pointer;
    color: 	#606060;

}
.head{
    display: flex;
    background-color:#877FA8 ;
    padding: 5px;
    font-weight: bold;
    font-size: 15px;
}

.authors{
    flex: 20%;  
}

.content{
    flex: 80%;
}

.body{
    display: flex;
    background-color: #f59193;
    padding: 10px;
    margin-top: 5px;
}

.body .authors .username{
    font-size: 17px;
}

.body .authors .date{
    font-size: 12px;
}

.body .authors img{
    max-width: 80px;
    max-height: 110px;
}

/*comment*/
.comment-area{
    margin-top: 50px;
}

.comment-area textarea{
    width: 100%;
    min-height: 100px;
    padding: 10px;
    margin-block: 10px;
}

.comment-area input{
    float: right;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}

.comment-area input:hover{
    border: solid 1px #c83349;
}

/* Add Thread */ 
.adding{
    margin-top: 50px;
}

.adding .description{
    width: 100%;
    min-height: 100px;
    padding: 10px;
    margin-block: 10px;
}

.adding .title{
    width: 100%;
    padding: 8px;
    margin-block: 10px;
}

/* back btn */
.back_btn{
    margin-top: 65px;
    margin-left: -78px;
    padding: 0;
    border: none;
    background: none;
}






