body{
    margin: 0;
    padding: 0;
    font-family: Tahoma, Helvetica, Verdana, Arial, sans-serif;
    background-image: url(../Desktop/web.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.box{
    width: 300px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.box h1{
    color: #EE4266;
    text-transform: uppercase;
    font-weight: 500;
    font-family: "Times New Roman", Times, serif;
}

.box input[type = "text"], .box input[type = "password"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #eea29a;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: black;
    border-radius: 24px;
    transition: 0.25s;
}

.box input[type = "text"]:focus, .box input[type = "password"]:focus{
    width: 280px;
    border-color: #EE4266;
}

.box input[type = "submit"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #EE4266;
    padding: 14px 40px;
    outline: none;
    color: #8e8e8e;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}

.box input[type = "submit"]:hover{
    background: #EE4266;
}

.signuplink{
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);  
}

.siupli{
    padding: 10px 30px;
    color: #d64161;
    text-decoration: underline solid transparent;
    transition: 0.6s ease;
}

.siupli:hover{
    text-decoration: underline solid currentColor;
}

.boxsignup{
    width: 300px;
    padding: 40px;
    position: fixed;
    top: 50%;
    left: 41%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.boxsignup h1{
    margin-left: 55%;
    color: #EE4266;
    text-transform: uppercase;
    font-weight: 500;
    font-family: "Times New Roman", Times, serif;
}

.boxsignup input[type = "text"], .boxsignup input[type = "password"]{
    border: 0;
    background: none;
    display: block;
    margin: 10px auto;
    text-align: center;
    border: 2px solid #eea29a;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: black;
    border-radius: 24px;
    transition: 0.25s;
}


.two-col {
    overflow: visible;
}

.two-col .col1,
.two-col .col2 {
    width: 15%;
}

.two-col .col1 {
    float: left;
}

.two-col .col2 {
    float: right;
}

.boxsignup input[type = "submit"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #EE4266;
    padding: 14px 40px;
    outline: none;
    color: #8e8e8e;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}

.boxsignup input[type = "submit"]:hover{
    background: #EE4266;
}

.loginlink{
    position: absolute;
    top: 90%;
    left: 48.5%;
    transform: translate(-50%, -50%);
}

.loinli{
    padding: 10px 30px;
    color: #d64161;
    text-decoration: underline solid transparent;
    transition: 0.6s ease;
}

.loinli:hover{
    text-decoration: underline solid currentColor;
}

.msg{
    position: fixed;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);  
    color: #d64161;
}