{% include 'sidebar.html' %}{% include 'header.html' %}{%block content %}

<!DOCTYPE html>
<html>
<head>
    <title>THE CURIOUS CASE OF COSMETICS</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
     <div class= 'tableroutine1' style="text-align: center; width: 100%; position: relative; bottom: 500px;">
      <table id="routine1" class="table table-striped table-bordered" style="text-align: center; width: 80%;">
        <thead>
          <tr>
            <td width='200'>
              <h3><b>Brand</b></h3>
            </td>
            <td width='200'>
              <h3><b>Type</b></h3>
            </td>
            <td width='300'>
              <h3><b>Product Name</b></h3>
            </td>
            <td width='200'>
                <h3><b>Expiry Date</b></h3>
            </td>
            <td width='300'>
                <h3><b>Frequency Type</b></h3>
              </td>
            <td width='100'>
                <h3><b>Frequency of Usage</b></h3>
            </td>
            <td width='100'>
              <h3><b>Days of Usage</b></h3>
            </td>
          </tr>
        </thead>
        <tbody>
          {% for product in products %}
          {% if product.routine_category == 'Day' or product.routine_category =='Both'%}
          <tr>
            <td>{{product.brand}}</td>
            <td>{{product.skincare_or_makeup}}</td>
            <td>{{product.product_name}}</td>
            <td>{{product.expiry_date}}</td>
            <td>{{product.frequency_type}}</td>
            <td>{{product.frequency}}</td>
            <td>{{product.specific_days}}</td>
          </tr>

          {% endif %}
          {% endfor %}
        </tbody>
      </table>
    </div>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

    <div class= 'tableroutine2' style="text-align: center; width: 100%; position: relative; bottom: 500px;">
      <table id="routine2" class="table table-striped table-bordered" style="text-align: center; width: 80%;">
        <thead>
          <tr>
            <td width='200'>
              <h3><b>Brand</b></h3>
            </td>
            <td width='200'>
              <h3><b>Type</b></h3>
            </td>
            <td width='300'>
              <h3><b>Product Name</b></h3>
            </td>
            <td width='200'>
                <h3><b>Expiry Date</b></h3>
            </td>
            <td width='300'>
                <h3><b>Frequency Type</b></h3>
              </td>
            <td width='100'>
                <h3><b>Frequency of Usage</b></h3>
            </td>
            <td width='100'>
              <h3><b>Days of Usage</b></h3>
            </td>
          </tr>
        </thead>
        <tbody>
          {% for product in products %}
          {% if product.routine_category == 'Night' or product.routine_category == 'Both' %}
          <tr>
            <td>{{product.brand}}</td>
            <td>{{product.skincare_or_makeup}}</td>
            <td>{{product.product_name}}</td>
            <td>{{product.expiry_date}}</td>
            <td>{{product.frequency_type}}</td>
            <td>{{product.frequency}}</td>
            <td>{{product.specific_days}}</td>
          </tr>
          {% endif %}
          {% endfor %}
        </tbody>
      </table>
    </div>
</body>
</html>

{% endblock %}