{% include 'header.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/profileStyle.css') }}">
    <title>{{ brand_name }}</title>
</head>
<body>

    <h3 style="text-align: center;">B R A N D</h3>
    <h1 style="text-align: center;">{{ brand_name }}</h1>

    {% if session['Admin'] == False %}
    
    {% if products|length < 1 %}
    <div class="noproduct" style="margin-top: 30px;">
        <p style="text-align: center; margin: 0px;">There are no products of {{ brand_name }} in our database yet.</p>
        <a href="{{ url_for('create') }}" style="text-align: center;">Click here to add a product.</a>
    </div>  

    {% else %}
    <h3 style="text-align: center; margin: 1em 0em;">{{ brand_name }} products in our database: </h3>

    <table class="searchResults table2" style="width: 90%;">
        <thead>
            <tr>
                <th>Product Name</th>
                <th>Type</th>
                <th>Average Rating</th>
                {% if session['Admin'] == False %}
                    <th style="padding: 1em 0.4em;">Add to<br>My Products</th>
                {% else %}
                    <th style="padding: 1em 0.4em;">Delete</th>
                {% endif %}
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
            <tr>
                <td><a href="/product/{{ product['product_name'] }}">{{ product["product_name"] }}</a></td>
                <td>{{ product["skincare_or_makeup"] }}</td>
                <td style="text-align: center;">{{ product["average_rating"] }}</td>
                <td width="120" style="text-align: center; padding: 0;">

                    {% if session['Admin'] == False %}
                    <form action = "{{ url_for('add') }}" method = "post">
                        <input type="text" name="product_name" value="{{ product['product_name'] }}" style="display: none;">
                        <select name="shelf" id="addDropdown" style="width: 65%;" required> 
                            <option hidden disabled selected value> </option>     
                            <option>Currently Using</option>     
                            <option>Shelved</option>     
                            <option>Wish List</option>     
                        </select>
                        <input type="submit" value="Add" style="font-size: 0.5em;"> <!-- onclick="showAlert('Adding a new product to My Products')" -->
                        <input type="text" name="search_term" value="{{ search_term }}" style="display: none;">
                    </form>
                    {% else %}
                    <a href="/deleteProduct/{{ product['product_name'] }}" class="btn btn-secondary btn-sm">Delete</a>
                    {% endif %}

                </td>

                <td width="80" style="text-align: center; padding: 0; text-decoration: underline;">
                    <a href="{{ url_for('review', product_name=product['product_name']) }}" id="reviewlink">Leave a review</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
    {% endif %}

</body>
</html>