{% include 'header.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/profileStyle.css') }}">
    <title>Create Product</title>
</head>
<body>
    
    {% if error_msg %}
    <div class="error">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation-circle" viewBox="0 0 16 16">
            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
            <path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z"/>
        </svg>
        <h3> {{ error_msg }}</h3>
    </div>
    {% endif %}

    <h2 style="text-align: center;">Create Product</h2>

    <form action = "{{ url_for('create') }}" method = "post">

        <label for="product_name">Product Name: </label>
        <input type="text" name="product_name" id="product_name" required>
        <br><br> 

        <label for="brand">Brand: </label>
        <input type="text" name="brand" id="brand" required>
        <br>

        <p>Type:</p>
        <input type="radio" name="skincare_or_makeup" id="skincare" value="Skincare">
        <label for="skincare">Skincare</label><br>
        <input type="radio" name="skincare_or_makeup" id="makeup" value="Makeup">
        <label for="makeup">Makeup</label><br><br>

        <!-- <label for="photo">Photo (Optional): </label>
        <input type="file" name="photo" id="photo" accept=".jpg,.jpeg,.png" value="">
        <br><br> -->
        
        <input type="submit" value="Add product to community database">
        <br><br>
    </form>

</body>
</html>