<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/myProducts.css') }}">
</head>
<body>
    <header>
        <div class="main">
            <ul>
                <li><a href="{{ url_for('routine') }}">My Products</a></li>
                <li><a href="{{ url_for('search') }}">Search Products</a></li>
                <li><a href="#">Leaderboard</a></li>
                <li><a href="#">Forum</a></li>
                <li><a href="{{ url_for('profile') }}">Profile</a></li>
            </ul>
        </div>
    </header>

</body>
</html>