<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/header.css') }}">
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</head>
<body>
    <header>
        <div class="main">
            <div class="logo">
                <a href="{{ url_for('dashboard') }}"> <img src="{{ url_for('static', filename='logo.png') }}"></a>
            </div>
            <ul>
                <li><a href="{{ url_for('routine') }}">My Products</a></li>
                <li><a href="{{ url_for('search') }}">Search Products</a></li>
                <li><a href="{{ url_for('leaderboard') }}">Leaderboard</a></li>
                <li><a href="{{ url_for('forum') }}">Forum</a></li>
                <li><a href="{{ url_for('profile') }}">Profile</a></li>
            </ul>
        </div>
    </header>

</body>
</html>
