<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Login</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/public.css') }}">
    </head>
    <body>
        <form class="box" action="{{ url_for('login') }}" method="post">
            <h1>Login</h1>
            <input type="text" name="username" placeholder="Username" id="username" required>
            <input type="password" name="password" placeholder="Password" id="password" required>
            <input type="submit" name="" value="LOG IN">
            <br>
        </form>
        <div class="msglogin">{{ msg }}</div>
        <br>

        <div class="signuplink">
            <a href="{{ url_for('signup') }}" class="siupli">Not a member? Sign up now!</a>
        </div>

    </body>
</html>
