{% include 'header.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='profileStyle.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='rating.css') }}">
    <title>Review Product</title>
</head>
<body>

    <h2 style="text-align: center;">Leave a review for</h2>
    <p style="text-align: center;">{{ product_name }}</p>

    <form action = "{{ url_for('review', product_name=product_name) }}" method = "post">

        <div class="rate">
            <input type="radio" id="star5" name="rating" value="5" />
            <label for="star5" title="5 stars">5 stars</label>
            <input type="radio" id="star4" name="rating" value="4" />
            <label for="star4" title="4 stars">4 stars</label>
            <input type="radio" id="star3" name="rating" value="3" />
            <label for="star3" title="3 stars">3 stars</label>
            <input type="radio" id="star2" name="rating" value="2" />
            <label for="star2" title="2 stars">2 stars</label>
            <input type="radio" id="star1" name="rating" value="1" />
            <label for="star1" title="1 star">1 star</label>
        </div>

        <input class="submit" type="submit" value="Submit">
        
    </form>

</body>
</html>