{% include 'sidebar.html' %}{% include 'headerforsidebar.html' %}{% block content %}

<!DOCTYPE html>
<html>
<head>
    <title>My Beauty Routine</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/myProducts.css') }}">
</head>
<body>

  {% if session['Admin'] == True %}
  <div class="admin">
      <h1>Admin users do not have access to My Beauty Routine!</h1>
  </div>
  {% endif %}

  {% if session['Admin'] == False %}
    <div style="margin-left: 250px;">
      <h1 style="margin-bottom: 10px;">Day Routine</h1>
      <em><h5 class="pink">View all products in your daytime beauty routine.</h5></em>
      <br>
    </div>

    {% if day_products %}
     <div class= 'tableroutine1' style="text-align: center; width: 100%; position: relative;">
      <table id="routine1" class="table table-striped table-bordered" style="text-align: center; width: 80%; margin: 0;">
        <thead>
          <tr>
            <td width='200'>
              <h3><b>Brand</b></h3>
            </td>
            <td width='200'>
              <h3><b>Type</b></h3>
            </td>
            <td width='300'>
              <h3><b>Product Name</b></h3>
            </td>
            <td width='200'>
                <h3><b>Expiry Date</b></h3>
            </td>
            <td width='300'>
                <h3><b>Frequency Type</b></h3>
              </td>
            <td width='100'>
                <h3><b>Frequency of Usage</b></h3>
            </td>
            <td width='100'>
              <h3><b>Days of Usage</b></h3>
            </td>
          </tr>
        </thead>
        <tbody>
          {% for product in day_products %}
            <tr>
              <td>{{product.brand}}</td>
              <td>{{product.skincare_or_makeup}}</td>
              <td>{{product.product_name}}</td>
              <td>{{product.expiry_date}}</td>
              <td>{{product.frequency_type}}</td>
              <td>{{product.frequency}}</td>
              <td>{{product.specific_days}}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    {% else %}
      <div style="margin: 30px 125px 0px 275px; text-align: center;">
        <p>You do not have any products in your Day Routine right now!</p>
        <br>
        <p>
          <a href="{{ url_for('search') }}"><strong class="pink">Search</strong></a> for a product to add to 
          <a href="{{ url_for('using') }}"><strong class="pink">Currently Using</strong></a> to add a product to your Day Routine. 
        </p>
      </div>
    {% endif %}

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

    <div style="margin-left: 250px;">
      <h1 style="margin-bottom: 10px;">Night Routine</h1>
      <em><h5 class="pink">View all products in your nighttime beauty routine.</h5></em>
      <br>
    </div>

    {% if night_products %}
    <div class= 'tableroutine2' style="text-align: center; width: 100%; position: relative;">
      <table id="routine2" class="table table-striped table-bordered" style="text-align: center; width: 80%; margin: 0;">
        <thead>
          <tr>
            <td width='200'>
              <h3><b>Brand</b></h3>
            </td>
            <td width='200'>
              <h3><b>Type</b></h3>
            </td>
            <td width='300'>
              <h3><b>Product Name</b></h3>
            </td>
            <td width='200'>
                <h3><b>Expiry Date</b></h3>
            </td>
            <td width='300'>
                <h3><b>Frequency Type</b></h3>
              </td>
            <td width='100'>
                <h3><b>Frequency of Usage</b></h3>
            </td>
            <td width='100'>
              <h3><b>Days of Usage</b></h3>
            </td>
          </tr>
        </thead>
        <tbody>
          {% for product in night_products %}
            <tr>
              <td>{{product.brand}}</td>
              <td>{{product.skincare_or_makeup}}</td>
              <td>{{product.product_name}}</td>
              <td>{{product.expiry_date}}</td>
              <td>{{product.frequency_type}}</td>
              <td>{{product.frequency}}</td>
              <td>{{product.specific_days}}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    {% else %}
      <div style="margin: 30px 125px 50px 275px; text-align: center;">
        <p>You do not have any products in your Night Routine right now!</p>
        <br>
        <p>
          <a href="{{ url_for('search') }}"><strong class="pink">Search</strong></a> for a product to add to 
          <a href="{{ url_for('using') }}"><strong class="pink">Currently Using</strong></a> to add a product to your Night Routine. 
        </p>
      </div>
    {% endif %}
    
    {% endif %}

</body>
</html>

{% endblock %}