<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset = "utf-8">
        <title>Sign Up</title>
        <link rel = "stylesheet" href = "{{ url_for('static', filename='style1.css') }}">
    </head>
    <body>
<form class = "boxsignup" action = "{{ url_for('signup') }}" method = "post">
    <h1>Register</h1>
    <div class="two-col">
        <div class = "col1">
            <input type="text" name="username" placeholder="Username" id="username" required>
        </div>

        <div class = "col2">
        <input type="text" name="email" placeholder="Email" id="email" required>
        </div>
    </div>

    <div style="clear:both;">&nbsp;</div>

    <div class="two-col">
        <div class = "col1">
            <input type="text" name="firstname" placeholder="First Name" id="firstname" required>
        </div>

        <div class = "col2">
            <input type="text" name="lastname" placeholder="Last Name" id="lastname" required>
        </div>

    </div>

    <div style="clear:both;">&nbsp;</div>

    <div class="two-col">
        <div class = "col1">
            <input type="text" name="gender" placeholder="Gender (F/M)" id="gender" required>
        </div>
        <div class = "col2">
            <input type="password" name="password" placeholder="Password" id="password" required>
        </div>
    </div>
    <div style="clear:both;">&nbsp;</div>

    <div class = "register" style="margin-left: 165px;" ><input type="submit" name="" value="REGISTER"></div>

</form>
<div class="msg">{{ msg }}</div>
<div class = "loginlink">
    <a href="{{ url_for('login') }}" class="loinli">Already a member? Log in now!</a>
</div>

    </body>

</html>
