{% include 'sidebar.html' %}{% include 'headerforsidebar.html' %}{% block content %}

<!DOCTYPE html>
<html>
<head>
    <title>Currently Using</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/myProducts.css') }}">
</head>
<body>

{% if session['Admin'] == True%}
  <div class="admin">
      <h1>Admin users do not have access to Currently Using!</h1>
  </div>
{% endif %}

{% if session['Admin'] == False%}
  {% with messages = get_flashed_messages() %}
  {% if messages %}
  <ul class = "flashes">
      {% for message in messages %}
      <li>{{ message }}</li>
      {% endfor %}
  </ul>
  {% endif %}
  {% endwith %}

  <h1 style="margin-left: 250px;">Currently Using</h1><br>

     <div class= 'table' style="text-align: center; width: 100%; position: relative;"">
      <table id="example" class="table table-striped table-bordered" style="text-align: center; width: 80%;">
        <thead>
          <tr>
            <td width='200'>
              <h3><b>Brand</b></h3>
            </td>
            <td width='200'>
              <h3><b>Type</b></h3>
            </td>
            <td width='300'>
              <h3><b>Product Name</b></h3>
            </td>
            <td width='100'>
              <h3><b>Used Date</b></h3>
            </td>
            <td width='300'>
              <h3><b></b></h3>
            </td>
          </tr>
        </thead>
        <tbody>
          {% for product in products %}
          <tr>
            <td>{{product.brand}}</td>
            <td>{{product.skincare_or_makeup}}</td>
            <td>{{product.product_name}}</td>
            <td>{{product.used_date}}</td>
            <td width="200">
              <a href= "/edit/Uses/{{product.product_name}}" class="btn btn-secondary btn-sm">Edit</a>
              <a href="/deleteUsing/{{product.product_name}}" class="btn btn-secondary btn-sm">Delete</a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  {% endif %}
</body>
</html>

{% endblock %}