{% include 'sidebar.html' %}{% include 'headerforsidebar.html' %} {% block content %}

<!DOCTYPE html>
<html>
<head>
    <title>Wish List</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/myProducts.css') }}">
</head>
<body>

{% if session['Admin'] == True%}
  <div class="admin">
      <h1>Admin users do not have access to Wish List!</h1>
  </div>
{% endif %}

{% if session['Admin'] == False%}
  {% with messages = get_flashed_messages() %}
  {% if messages %}
  <ul class = "flashes">
      {% for message in messages %}
      <li>{{ message }}</li>
      {% endfor %}
  </ul>
  {% endif %}
  {% endwith %}

  <div style="margin-left: 250px;">
    <h1 style="margin-bottom: 10px;">Wish List</h1>
    <em><h5 class="pink">View all products you want to use but have yet to try.</h5></em>
    <br>
  </div>

  {% if products %}

     <div class= 'table' style="text-align: center; width: 100%; position: relative;">
      <table id="example" class="table table-striped table-bordered" style="text-align: center; width: 75%;">
        <thead>
          <tr>
            <td width='300'>
              <h3><b>Brand</b></h3>
            </td>
            <td width='300'>
              <h3><b>Type</b></h3>
            </td>
            <td width='300'>
              <h3><b>Product Name</b></h3>
            </td>
            <td width='300'>
              <h3><b>Wished Date</b></h3>
            </td>
            <td width='300'>
              <h3><b></b></h3>
            </td>
          </tr>
        </thead>
        <tbody>
          {% for product in products %}
          <tr>
            <td>{{product.brand}}</td>
            <td>{{product.skincare_or_makeup}}</td>
            <td>{{product.product_name}}</td>
            <td>{{product.wished_date}}</td>
            <td width="200">
              <a href= "/edit/Wishes/{{product.product_name}}" class="btn btn-secondary btn-sm">Edit</a>
              <a href="/deleteWishlist/{{product.product_name}}" class="btn btn-secondary btn-sm">Delete</a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    
    {% else %} 
    <div style="margin: 30px 125px 0px 275px; text-align: center;">
      <p>You do not have any products in your Wish List right now!</p>
      <br>
      <p><a href="{{ url_for('search') }}"><strong class="pink">Search</strong></a> for a product to add to Wish List.</p>
    </div>
    {% endif %}

  {% endif %}
</body>
</html>

{% endblock %}